@use 'bulma/bulma' with (
	$family-primary: "Open Sans",
	$primary: #4CAF50,
	$success: #8BC34A,
	$shadow:  #{0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)},
	$navbar-box-shadow-size: #{0 3px 6px, 0 3px 6px},
	$navbar-box-shadow-color: #{rgba(0,0,0,0.16), rgba(0,0,0,0.23)},
	$navbar-bottom-box-shadow-size: 0 3px 6px,
	$navbar-dropdown-boxed-shadow: 	#{0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)}
);

html {
  scroll-behavior: smooth;
}

@include bulma.until(bulma.$desktop) {
  .navbar-menu {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleY(0.3);
    transform-origin: top;
    transition: all 0.3s ease-out;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23) !important;
  }

  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}
